.gtp-donate {
   float: right;
}
#gtp-country-display {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
#gtp-country-display span {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    margin: 5px 5px 0 0;
}
.gtp-space {
    display: block;
    margin-top: 5px;
    clear: both;
}